@import "abstract/variables";
@import 'bootstrap/scss/bootstrap.scss';
@import "abstract/base";

$myColor: red;

h1 {
  color: $myColor;
}
.scrollpart {
    max-height : 500px;
    overflow-y : scroll
}

#all-contacts{
    background-color: #46139f;
}
#us-contacts{
    background-color: #ff7f50;
}
#cls-btn{
    
    border: 2px solid #46139f;
}
#even-only{
    font-weight: bold;
}

// .modal:nth-of-type(even) {
//     z-index: 1052 !important;
// }
// .modal-backdrop.show:nth-of-type(even) {
//     z-index: 1051 !important;
// }